@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .filter-blur {
    filter: blur(20px);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
